<turbo-stream action="update" target="info">
  <template>
    <div class="error">
      <%= error %>
    </div>
  </template>
</turbo-stream>
<turbo-stream action="update" target="comics">
  <template>
    <%= render partial: 'table', locals: { results: @results } %>
  </template>
</turbo-stream>
