<turbo-stream action="update" target="error">
  <template>
    <div class="error">
      <%= @error %>
    </div>
  </template>
</turbo-stream>
<turbo-stream action="update" target="comics">
  <template>
    <%= turbo_frame_tag "comics", src: 'comics' %>
  </template>
</turbo-stream>
